.custom-image {
    height: 280px;
    object-fit: cover;
}

.custom-body {
    height: 100px;
}

.custom-title {
    font-size: 11pt;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}