.custom-detail-card {
    width: 90%;
    height: 540px;
}

.custom-detail-image {
    height: 460px;
    object-fit: cover;
}

.detail-title {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    color: #c45b5b;
    text-shadow: 1px 1px 1px white;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#backToHomepageButton {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}